/* src/components/WeekMenu/index.module.css */
.table {
    margin: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

.table :global(.ant-table-thead > tr > th) {
    background: #F7CA3E; /* --yellow */
    color: #333;
    font-weight: 600;
}

.table :global(.ant-table-tbody > tr > td) {
    color: #666;
}